body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    overflow: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.submit {
    margin: 20px;
    border-radius: 30px;
    border: 0;
    background-image: linear-gradient(to right, #8437CC, #A645FF);
    height: 40px;
    max-width: 350px;
    width: 100%;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.submit:hover {
    background-image: linear-gradient(to right, #5d2591, #8100f8);
}

#note {
    margin: 20px;
    border-radius: 12px;
    border: 0;
    background-color: #3B1659;
    height: 50px;
    max-width: 300px;
    width: 100%;
    color: #fff;
    padding: 12px;
    overflow: auto;
}

#time, #date {
    margin: 10px;
    border-radius: 12px;
    border: 0;
    background-color: #3B1659;
    height: 20px;
    max-width: 300px;
    width: 100%;
    color: #fff;
    padding: 12px;
}

#addNew {
    border-radius: 12px;
    border: 0;
    padding: 1px;
    background-color: #1C1C1C;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
}

#current_time {
    font-weight: 700;
    font-size: 50px;
    font-family: sans-serif;
    color: #fff;
}

#screen {
    font-family: sans-serif;
    font-weight: 700;
}

#menu {
    border-radius: 12px;
    border: 0;
    padding: 1px;
    background-color: #1C1C1C;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
}

#hr {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    height: 2px;
    background-color: darkgray;
}

.alarm {
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #1C1C1C;
    border-radius: 20px;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 12px;
    background-color: #1C1C1C;
}

.delete-btn {
    margin-left: 20px;
    border-radius: 20px;
    border: 0;
    background-image: linear-gradient(to right, #FF4545, #FF0000);
    height: 30px;
    width: 100px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

/* container for alarms */
#alarms {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 40px;
}
